.ql-editor {
    /* overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; */
    color: rgb(75 85 99);
}

.ql-container.ql-snow {
    border: none !important;
}